[submodule "libglfw"]
	path = lib/libglfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "tests/gtest"]
	path = tests/gtest
	url = https://github.com/google/googletest.git
	branch = main
[submodule "lib/libyaml-cpp"]
	path = lib/libyaml-cpp
	url = https://github.com/jbeder/yaml-cpp
