[submodule "libglfw"]
	path = lib/libglfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "tests/gtest"]
	path = tests/gtest
	url = https://github.com/google/googletest.git
	branch = main
[submodule "lib/cereal"]
	path = lib/cereal
	url = https://github.com/USCiLab/cereal
[submodule "lib/boost/preprocessor"]
	path = lib/boost/preprocessor
	url = https://github.com/boostorg/preprocessor.git
